  <table class="table-condensed">
  <tr>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title) %></td><br>
  </tr>
  <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.text_area(:content) %></td><br>
  </tr>
  
</table>
